form {
  background-color: #FAFAFA !important;
  width: 100vw;
  opacity: 0.9;
}

mat-form-field {
  width: 450px;
  margin-top: 20px;
  color: darkolivegreen !important;
  border-color: darkolivegreen !important;

}

button {
  height: 50px;
  background-color: darkolivegreen !important;
}
